<div class="nav-bar">
  <a href="#">
    <img src="assets/logo.png" alt="dish genie logo" />
  </a>
  <nav class="nav-bar links">
    <a href="#" routerLink="/cook" routerLinkActive="active">COOK</a>
    <a href="#" routerLink="/trending" routerLinkActive="active">TRENDING</a>
    <a href="#" routerLink="/about" routerLinkActive="active">ABOUT</a>
  </nav>
  <button mat-raised-button>SIGN IN</button>
  <div class="hamburger-menu">
    <mat-toolbar class="custom-class">
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menu-screen">
          <button mat-menu-item>
            <span>COOK</span>
          </button>
          <button mat-menu-item>
            <span>TRENDING</span>
          </button>
          <button mat-menu-item>
            <span>ABOUT</span>
          </button>
          <button mat-menu-item>
            <span>SIGN IN</span>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
  </div>
</div>
