.home-page-container {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-color: #77d970;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 3rem;
  width: 30%;
  z-index: 20;
}

.left-container > h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.left-container > h2 {
  font-size: 3rem;
  line-height: 0.8;
}

.left-container > h3 {
  font-size: 1.8rem;
}

.left-container > .home-page-button {
color: white;
  border: 2px solid white;
  height: 5.5rem;
  width: 90%;
  padding: 2.5rem 0;
  font-size: 2rem;
}

.right-container {
  width: 40%;
  background-image: url('../../../assets/home-page.jpg');
  background-size: 100% 100%;
}
