.home-page-container {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  height: 85%;
  width: 100%;
}
/* left container */
.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
  row-gap: 3.5rem;
  width: 30%;
}

.left-container > h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.left-container > h2 {
  font-size: 3rem;
  line-height: 0.8;
}

.left-container > h3 {
  font-size: 1.8rem;
}

.left-container > .home-page-button {
  border: 2px solid var(--secondary-color);
  color:var(--secondary-color);
  font-size: 2rem;
  height: 5.5rem;
  padding: 2.5rem 0;
  width: 90%;
}

/* right container with image*/
.right-container {
  background-image: url('../../../assets/home-page.jpg');
  background-size: 100% 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  width: 50%;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* media queries */
@media (max-width: 768px) {
  .home-page-container {
    flex-direction: column-reverse;
  }
  .right-container {
  }
}
