<div class="home-page-container">
  <div class="left-container">
    <h1>DISH GENIE</h1>
    <h2>Exquisite recipes customized for you</h2>
    <h3>
      Dive into our cookbook and search for delicious meals based on the
      ingredients you have
    </h3>
    <a mat-button href="" class="home-page-button">START COOKING</a>
  </div>
  <div class="right-container"></div>
</div>
<section id="content">
  <article>
    <div class="image"></div>
    <div class="decoration"></div>
    <h3>Leave recipe searching to us</h3>
    <p>
      Tell us what you have in fridge and choose one of the delicious meals for
      you and your family. You can even customize depending on meal type, how
      much time you have and cuisine type.
    </p>
  </article>
  <article>
    <h3>Cook the food you will love</h3>
    <p>
      All of the ingredients come from your house. We only assume you have salt
      and pepper.
    </p>
    <div class="image"></div>
    <div class="decoration"></div>
  </article>
</section>
<section id="action"></section>
