<div class="container">
  <h1>404</h1>
  <h2>You found a page that doesn't exist</h2>
  <div class="paragraphs">
    <p>Breathe in, and on the out breath, go back and try again.</p>
    <p>
      There are a lot of unknowns in the world right now. But one thing is
      certain - Dish Genie is here for you.
    </p>
    <p>To help you cook delicious meals in this time of crisis.</p>
  </div>
  <a
    mat-button
    class="home-button"
    href="https://www.google.com/"
    target="_blank"
    >BACK TO HOME</a
  >
</div>
