.nav-bar {
  align-items: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  height: 4.375rem;
  justify-content: space-between;
  width: 100%;
}

img {
  height: 4.375rem;
  margin-left: 2rem;
}

.links {
  color: #77d970;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.links a:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
  transform-origin: top;
}

.links a:active {
  color: #ffde00;
}

.mat-mdc-raised-button:not(:disabled) {
  color: #77d970 !important;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
  white-space: nowrap;
}
.hamburger-menu {
  display: none;
}

cdk-overlay-connected-position-bounding-box {
  left: 0 !important;
}

@media (max-width: 768px) {
  .nav-bar > .links,
  .nav-bar > button {
    display: none;
  }
  .hamburger-menu {
    display: block;
    margin-right: 2rem;
  }
  .custom-class {
    background-color: hsl(116, 58%, 65%);
    color: whitesmoke;
    padding: 0 !important;
  }

  .mat-mdc-menu-content {
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
  }
  .mat-mdc-menu-item {
    justify-content: space-evenly !important;
    padding: 0 !important;
  }
  .mat-mdc-menu-item > span {
    color: hsl(116, 58%, 65%);
  }

  .menu-screen {
    position: fixed;
    max-width: unset !important;
    width: 100vw;
  }
}
