button[mat-flat-button] {
  color: rgba(255, 252, 252, 1);
  background-color: inherit;
}

button[mat-raised-button] {
  color: rgba(119, 217, 112, 1);
  background-color: rgba(255, 252, 252, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(119, 217, 112, 1);
}

.logo {
  color: rgba(255, 252, 252, 1);
  font-family: 'Aclonica', sans-serif;
  font-size: 1.5rem;
  margin-left: 1%;
}

.hamburger-menu {
  display: none;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navbar-links > .nav-btn {
  font-size: 1rem;
}
.sign-in {
  margin-right: 2%;
}

/* hamburger menu */
@media only screen and (max-width: 767px) {
  .hamburger-menu {
    display: block;
    width: 30px;
    height: 25px;
  }

  .hamburger-menu > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: whitesmoke;
  }

  .hamburger-menu > span:not(:last-child){
    margin-bottom: 2.5px;
  }

  .navbar-links {
    display: none;
  }
}
